.About_section{
    display: flex;
    flex-direction: row;
    background-color: #020617;
    margin-top: 25%;
    padding-top: 7%;
    padding-bottom: 10%;
    height: 70%;
    width: 100%;
}
.about-sec{
    margin-right: 3%;
    margin-left: 15%;
   
    
}

#first{
    color: #F3F4F6;
    margin-left: 15%;
}

#second{
    color: #EAB308;
    
}
#third{
    color: #6B7280;
    margin-right: 5%;
    margin-left: 15%;
    justify-content: left;
}
.cover_img{
    position: absolute;
    background-color: #6B7280;
    overflow: hidden;
    /* padding: 2%;
    width: 170%;
    height: 150%;
    margin-left: 5%;
    margin-right: 3%;
    border-radius: 10%; */
    width: 400px; /* Adjust the width to be more responsive */
    height: 450px; /* Adjust the height to maintain the aspect ratio */
    margin-left: 10%;
     /* Remove or reduce the right margin */
    border-radius: 8%;
    

}
.color_container{
    height: 400px;
    width: 100%;
    background-color: #020617;
    border-color: #EAB308;
    border-width: 14px;
    border-style: solid;
    margin-left: 8.5%;
    margin-top: 4.9%;
    border-radius: 16px;

}