.nav_Bar{
    color: #FFFFFF;
    background-color: #020617;
    width: 100%;
    position: fixed;

}



.nav_Bar .nav-link{
    color: #9CA3AF;
    font-size: 18px;
    
}
.nav_Bar .nav-link:hover{
    color: #FFFFFF;
}


.nav_Bar .navbar-nav {
    flex-direction: row;
    gap: 35px;
    width: 100%;
}
.nav_Bar .me-auto {
    margin-left: 40%;
}