.skills{
    display: flex;
    flex-direction: column;
    padding: 5%;

}
#skill_topic{
    color: #EAB308;
}
#skill_des{
    color: #FFFF;
}
.tech_icons{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.techs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 35px;
}
.techitem p{
    color: #6B7280;
}